/* larger.css */

@media (min-width: 768px) {

  /* HIDE HAMBURGER */
  #menuBtn {
    display: none;
  }

    body {
      font-family: 'Roboto', sans-serif;
    }

    :root {
      --primary: #1f3a5f;
      --secondary: #0056b3;
      --light: #f4f4f4;
      --dark: #222;
    }

  /* HORIZONTAL NAV */
  nav ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

 
  nav ul li a {
    padding: 0.5rem 1rem;
  }

  /* GRID LAYOUT (not single column) */
  main {
    grid-template-columns: 1fr 1fr;
  }

  main h1 {
    grid-column: 1 / -1;
  }

  section {
    min-height: 150px;
  }
}

@media (min-width: 1024px) {

  main {
    grid-template-columns: repeat(3, 1fr);
  }

  main h1 {
    grid-column: 1 / -1;
  }
}

.filters {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.filters button {
  padding: 0.5rem 1rem;
  border: none;
  background: var(--primary);
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.filters button:hover {
  background: var(--secondary);
}