/* larger.css */

@media screen and (min-width: 768px) {

  nav ul {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
  }

  nav ul li {
    margin: 0;
  }

  #members {
    grid-template-columns: repeat(3, 1fr);
  }
}
